<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.dal.mapper.BootTypeInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.springboot.dal.model.BootTypeInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="book_type_code" jdbcType="VARCHAR" property="bookTypeCode" />
    <result column="book_type_name" jdbcType="VARCHAR" property="bookTypeName" />
  </resultMap>
</mapper>